body {
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: sans-serif;
	background-image: url("../img/bg.jpg");
	background-attachment: fixed;
	background-size: 100%;
	background-repeat: no-repeat;
}

.menu-principal {
	background-image: url("../img/menu.png");
	height: 100px;
}

main {
	margin: 0 auto;
	width: 100%;
	float: left;
	position: relative;

}

.logo {
	float: left;
	padding: 5px;
	padding-left: 30px;
	padding-top: 1px;

}

.redes ul li {
	padding-top: 15px;
	margin-left: 20px;
	display: inline-block;
	list-style: none;
}

.redes {
	float: right;
	padding-right: 30px;
}

.titulo {
	padding-top: -5px;
	color: white;
	text-align: center;
}

.hr {
	color: white;
	background-color: white;
	height: 2px;
	width: 600px;
	margin: 0 auto;
}

.painel {
	padding-top: 100px;
	margin: 0 auto;
	text-align: center;
	display: block;
	max-width: 100%;
}

.button ul li {
	float: right;
	padding-right: 10px;
	padding-top: 5px;
	margin-left: 15px;
	display: inline-block;
	list-style: none;
}

button {
	display: block;
	margin: 0 auto;
	width: 145px;
	height: 55px;
	background-color: transparent;
	font-color: white;
	color: #ffffff;
	font-weight: bolder;
	border-radius: 3px;
	border: 2px solid;
}

button:hover {
	background-color: #0f4071;
	color: #ffffff;
	border-right: 10px;
	transition: 0.5s;
}

.footinfo {	
	position: absolute;
    top:40%; 
    left: 40%;
	font-style: "Sans";
	color: white;
	bottom: 0;
}

.hrfoot {
	width: 100%;
	height: 38px;
	position: fixed;
	bottom: 0;
	left: 0;
}

.footer {
	width: 100%;
	height: 30px;
	position: fixed;
	bottom: 0;
	left: 0;
}

h1 {
	color: white;
	font-family: "Helvetica";
	padding-top: 120px;
	text-align: center;
	font-weight: bolder;
	font-style: underline;
}

.hrp {
	color: white;
	background-color: white;
	height: 1px;
	width: 190px;
	margin: 0 auto;
}

p {
	color: white;
	margin: 0 auto;
	font-family: "Helvetica";
	font-size: 18px;
	padding-left: 25px;
	padding-right: 10px;
}

.sql {
	color: white;
	font-family: "Helvetica";
	margin-top: -110px;
}

.xss {
	color: white;
	font-family: "Helvetica";
	margin-top: -130px;
}

.hrs {
	color: white;
	background-color: white;
	height: 1px;
	width: 300px;
	margin: 0 auto;
}

.hrx {
	color: white;
	background-color: white;
	height: 1px;
	width: 200px;
	margin: 0 auto;
}

.mid {
	color: white;
	font-family: "Helvetica";
	padding-left: 25px;
	padding-right: 10px;
}

.tprocesso {
	text-align: center;

	color: white;
	font-family: "Helvetica";
	margin-top: -150px;
	padding-left: 25px;
	padding-right: 10px;
}

.hrpent {
	color: white;
	background-color: white;
	height: 1.5px;
	width: 310px;
	margin: 0 auto;
	padding-left: 25px;
	padding-right: 10px;
}

.pontofraco {
	padding-top: -1111px;
}

.fotoserv {
	position: absolute;
	margin-left: 10px;
}

.hretapa {
	background-color: white;
	height: 1.5px;
	width: 850px;
	margin: 0 auto;
}


body{
  margin: 0;
  padding: 0;
  font-family: "montserrat",sans-serif;
}
.container{
  position: absolute;
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}
.contact-method{
  width: 220px;
  height: 140px;
  display: inline-block;
  background: #3498db;
  margin: 10px;
  color: #fff;
  position: relative;
  cursor: pointer;
}
.contact-method i{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  font-size: 30px;
  line-height: 140px;
  background: #34495e;
  z-index: 1;
  transition: transform 0.6s;
}
.contact-method span{
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  padding: 10px 0;
}

.contact-method:hover i{
  transform: translateY(-40px);
}
